# Commenting video related files here and added in '$gitdir/info/exclude' so that 
# these video files are ignored in ClassMaterial repo but show up in git_video_tracker repo
#*.mkv
#*.mp4
#*.vtt
#*.gdoc
#*.gsheet
#*.gslides
desktop.ini
*.log
*.out
*.so
*.py~
*.idea
*.pyc
*.bak
*.DS_STORE
*.lnk
*-Pictorial-Valmiki-Ramayana.pdf
*NIOS_EVS_Level_*_english_medium.pdf
*_method_cornell_notes_filled.pdf
*Khan*Academy.pdf
Others/
6. ScienceAndResearchProjects/2. ResearchProjects/2. ScientificPublicationsAndGrants/2. OurWorks/2. AIInClassroomTeaching/0. Digital_AI_paper/
6. ScienceAndResearchProjects/2. ResearchProjects/2. ScientificPublicationsAndGrants/2. OurWorks/3. ChandassuPronunciationInCarnaticMusic/0. Chandassu_paper/
