*.mkv
*.mp4
*.vtt
desktop.ini
*.log
*.out
*.so
*.py~
*.idea
*.pyc
*.bak
*.DS_STORE
*.gdoc
*.gsheet
*.gslides
*.lnk
*-Pictorial-Valmiki-Ramayana.pdf
*NIOS_EVS_Level_*_english_medium.pdf
*_method_cornell_notes_filled.pdf
*Khan*Academy.pdf
